{% extends 'base.html' %}

{% block main %}
<h2>About Us</h2>

<p>I am a novice developer who is still learning.</p>
<p>This site was developed solely with the intention to practice my development and deployment capabilities, saying that there is a couple of fun things to do while you're here.</p>
<p>Note that this site does not use a database so the tasks will reset when page is reloaded.</p>
<h2>You Can</h2>
<ul>
    <li>Create a tasks list, in which you can add tasks that you need to accomplish, check them off once completed and delete individual tasks as you see fit.</li>
    <li>A random joke generator that hopefully will make you laugh, aswell as giving you good material you can use yourself.</li>
</ul>
{% endblock %}